<h2 class="text-center">Matches</h2>
<h4 class="text-center">
  <!--date-->
</h4>

<br>

<div class="container">
  <div class="row">
    <a href="#/form" class="btn btn-primary"><b>Enter New Match Details</b></a>
    <a href="#/" ng-click="main.toggle = !main.toggle" ng-class="main.color()" class="btn btn-round-sm btn-sm pull-right"><b>{{main.labelName()}}</b></a>
  </div>
</div>

<br>

<table class="table table-inverse">
  <thead>
    <tr>
      <th>Date</th>
      <th>Match</th>
      <th>Venue</th>
      <th>Format</th>
      <th>League</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="match in main.matches | orderBy : '-date'">
      <td>{{match.date}}</td>
      <td>{{match.firstTeam}} vs {{match.secondTeam}}</td>
      <td>{{match.stadium}}, {{match.city}}</td>
      <td>{{match.format}}</td>
      <td>{{match.league}}</td>
      <td><button ng-disabled="main.toggle == false" class="btn btn-danger btn-circle">x</button></td>
    </tr>
  </tbody>
</table>
