/*body{
  background-image: url('back/3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: black;
}*/

.getinline{
  display:inline-block;
  font-size: 1.5em;
}

.fontinc{
  font-size: 1.2em;
  color:#89b347;
}

.navbar
.navbar-default{
  height: 3em;
}

label{
  font-size: 20px;
  font-variant: small-caps;
}
h2{
  font-variant: small-caps;
  color: grey;
}

/*Buttons*/
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-round-lg{
  border-radius: 22.5px;
}
.btn-round-sm{
  border-radius: 15px;
}
